

*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;    
    font-family: Arial;
}

.left-side {
    width: 36vw;
    height: 100vh;
    float: left;
    background-image: url(assets/halie-west-25xggax4bSA-unsplash.jpg);
    background-size: cover;
    color: aliceblue;  
}

.container {
    overflow: hidden;
}

h1 {
    margin: 15% 21% 0 9%;
    font-size: 21px;
}

p {
    margin: 0 21% 0 9%;
    font-size: 21px;
    font-weight: bold;
}

h2 {
    margin: 2% 0 0 9%;
    font-size: 21px;
}

.logo {
    font-family: "Norse Bold";
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.6em;
    margin-top: 36%;
    font-size: 72px;
    background-color: rgba(0,0,0,.8);
}

.odin-logo {
    max-width: 15%;
    height: auto;
}

.legend-container {
    margin: 3% 9% 0 9%;
}

.form-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between ;
    margin: 3% 9% 0 9%;
}

.form-group {
    width: calc(50% - 10px); /* Adjust width for two columns with spacing */
    margin-bottom: 10px;
    box-sizing: border-box;
}

.form-group label {
    display: block;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="tel"],
.form-group input[type="password"] {
    width: 72%;
    padding: 5px;
    box-sizing: border-box;
    border-radius: .3em;
    border-style: solid;
    border-width: 1px;
}

.form-group input[type="text"]:focus,
.form-group input[type="email"]:focus,
.form-group input[type="tel"]:focus,
.form-group input[type="password"]:focus {
    outline: 1px solid #5e78c0;
}

.form-group input:invalid {
    outline: 2px solid red;
}

@media (max-width: 768px) {
    .form-group {
        width: 100%;
    }
}

.button {
    background-color: #596D48;
    color: #FFF;
    padding: .6em 2.7em;
    border-radius: .3em;
    border: none;
    margin-top: 2em;
    font-size: 18px;
    font-weight: bold;    
}

.button:hover, .signin:hover {
    cursor: pointer;
}

.login {
    margin: 3% 9% 0 9%;
    font-size: 21px;
}

.signin {
    color: #596D48;
}

